
  a {
  color: black;
  text-decoration: none;
  }
  
  body {
   font: 24px Helvetica;
   background: #6a6a6a;
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
 
  #main > article {
   margin: 4px;
   padding: 5px;
   border: 2px solid #e3e6e9;
   border-radius: 10px;
   background: url(images/bg/bg_nav.jpg);  
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > nav {
   margin: 4px;
   padding: 5px;
   border: 2px solid #e3e6e9;
   border-radius: 10px;
   background-image: url(images/bg/bg_nav.jpg);  
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
   text-align: center;
   }
   
   #main > nav > div {
    border: 2px solid #e3e6e9;
    width: 90%;
    margin: 7px;
    display: -webkit-flex;
    display: flex;
    border-radius: 70px;
    padding-top: 15px;
    -webkit-flex-flow: column;
    flex-flow: column;
      -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
   }
   
  #main > aside {
   margin: 4px;
   padding: 5px;
   border: 2px solid #e3e6e9;
   border-radius: 7pt;
   background-image: url(images/bg/bg_nav.jpg);
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   text-align: center;
   }
  
  #main > aside > div {
    border: 2px solid #e3e6e9;
    width: 90%;
    margin: 7px;
    display: -webkit-flex;
    display: flex;
    border-radius: 70px;
    padding-top: 15px;
    -webkit-flex-flow: column;
    flex-flow: column;
      -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
   }

  header, footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 2px solid #e3e6e9;
   border-radius: 10px;
   background-image: url(images/bg/bg.jpg);
   }
   
  .article-content {
    width: 90%;
    height: 60%;
    margin: auto;
   }
   
   .article-content img {
  width: 100%;
  height: 85%;
  border-radius: 10px;
  margin: auto;
  margin-top: 10%;
  border: 3px solid #e3e6e9;
   }

   .content{
    background: #6a6a6a;
   }

   .head{
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
   }

   #head-title{
    margin-top: 20px;
   }

   #img{
    margin-top: auto;
    margin-left: auto;
    margin-right: 10px;
   }

   .icon{
    border: 2px solid #e3e6e9;
    border-radius: 100px;
    width: 30px;
    height: 30px;
   }

   #ads{
    margin-top: 10px;
    color: #808498;
   }

   .footer{    
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
   }

   #logo{
    margin: auto;
   }

   .footer-text{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 10pt;
    color: #808498;
   }

  /* Too narrow to support three columns */
  @media all and (max-width: 400px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
   }

   #main > article, #main > nav, #main > aside{
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   header {
    min-height: 70px;
   }
   
   footer {
    min-height: 50px;
   }
   
   .article-content {
  width: 100%;
  margin-top: 10%
   }
   
   .article-content img {
  width: 100%;
  height: 100%;
   }
   
   #main > nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 3 25%;
            flex: 1 3 25%;            
    -webkit-flex-flow: column;
            flex-flow: column;
   }
   
   #main > nav > div {
    margin: 3px;
    display: -webkit-flex;
    display: flex;
    padding-top: 0px;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center; 
   border-radius: 50px;
   }
   
   #main > aside {
  padding-top: 30px;
   }

   .head{
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: wrap column;
           flex-flow: wrap column;
   }

   #head-title{
    height: 100%;
    width: 100%;
    margin-top: 20px;
   }

   #head-title > img{
    width: 100%;
   }

   #img{
    margin-top: auto;
    margin-left: auto;
   }

   .icon{
    width: 30px;
    height: 30px;
   }

   .content{
    width: 100%;
   }

   .footer{    
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: column;
            flex-flow: column;
   }

   #logo{
    margin: auto;
   }

   .footer-text{
    margin-top: auto;
    margin-bottom: auto;
   }
  }
}